
/** NAVBAR 
a{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .04rem;
    display: inline-block;
    padding: .1rem .2rem .1rem .2rem;
    color: var(--primary-text);
    text-decoration: none;
    font-size: 1.4rem;
}

.resume_button{   
    border: solid transparent;
    padding: .5rem 1.5rem .5rem 1.5rem;
    border-radius: 9rem;
    background: linear-gradient(to left bottom, var(--secondary_red), var(--primary_red)) border-box;
    text-transform: uppercase;
    font-size: 1rem;


}

.resume_button:hover{
    background: none;
    color: var(--primary-text);
    border: solid 3px var(--primary_red);

}






.opener{
    color: var(--primary-text);
    display: flex;
}



.left{
    background: var(--primary_purple);
}

.right{
    background: var(--secondary_red);
}


.spacer_2{
    height: 2rem;
}

.spacer_7{
    height: 7rem;
}



.col-md-66{
    width: 66.6%;    
}

.col-md-33{
    width: 33.3%;
}

*/