body{
  background-color: #172a45;
}

.bg-info {
  background-color: #172a45 !important;
}

.border-info {
  border-color: #fe7734 !important;
}

.module {
  min-height: 33vh;
}

.img-fluid {
  object-fit: none;
  height: 100%;
}

#lineDrawing {
  width: 100%;
  min-height: 66vh;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
section {
  min-height: 5vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}
.left {
  width: 50%;
  height: 600px;
  background: url(../images/food1.jpeg)
    no-repeat center / cover;
  border-radius: 8px;
}
.right {
  width: 50%;
  min-height: 400px;
  background-color: #172a45;
  display: flex;
  border: 2px solid #fe7734;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -10vw;
}
.right h1 {
  font-size: 40px;
  font-weight: lighter;
}
.right p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}
.left2 h1 {
  font-size: 40px;
  font-weight: lighter;
}
.left2 p {
  margin: 20px 0;
  font-weight: 500;
  line-height: 25px;
}

.left2{
  width: 50%;
  min-height: 400px;
  background-color: #172a45;
  border: 2px solid #fe7734;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-right: -10vw;
  z-index: 2;
}

.right2{
  width: 50%;
  height: 600px;
  background: url(../images/food1.jpeg)
    no-repeat center / cover;
  border-radius: 8px;
  z-index: 0;

}

.btn-outline-light,
.btn-outline-light:active,
.btn-outline-light:visited,
.btn-outline-light:focus {
    border-color: #f28d20;
}

.btn-outline-light:hover{
  background-color:#f28d20;
  border-color:#f28d20;
  color:#172a45;
}

.nav-link:active,
.nav-link:hover{
  color: #f28d20 !important;
}

.nav-link{
  color:#e6e6e8 !important;
}


@media only screen and (max-width: 768px) {

  .container {
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
  }
  .left {
    width: 100%;
    height: 400px;
  }
  .right {
    width: 90%;
    margin: 0;
    margin-top: -100px;
  }
}