
section.intro {

background-color: red;


}

section p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    padding-left: 2.0rem;
    


}

h2.section-title{
    padding-left: 2.0rem;

}



.intro_column{
    float: left;
    width:67%;

    margin-right: 2%;

}

.intro_column2{
    float: right;
    width: 33%
}

.intro_row{
    display:flex;
    margin-top: -3%;
}



a.resumev2,.resume_v2{
    position: relative;
    text-decoration: none;
    display: inline-block;
    padding: 1.0rem 0rem 1.0rem 0rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 24px;
}


.resumev2 span {
    position: absolute;
    display: block;
    background: radial-gradient(#00c0ff, #4218b8);
    transition: transform ease-in-out 0.2s;
}

.resumev2 span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: .1rem;
    transform: scaleX(0);
    transform-origin: right;
    transition-delay: 0s;
}

.resumev2:hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: left;
}

.resumev2 span:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: .1rem;
    transform: scaleX(0);
    transform-origin: left;
    transition-delay: .4s;
}

.resumev2:hover span:nth-child(3) {
    transform: scaleX(1);
    transform-origin: right;
}

.resumev2 span:nth-child(2) {
    top: 0;
    right: 0;
    width: .1rem;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition-delay: .3s;

}

.resumev2:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: top;
}

.resumev2 span:nth-child(4) {
    top: 0;
    left: 0;
    width: .1rem;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition-delay: .6s;

}

.resumev2:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: bottom;
}