/* 

NAVBAR 


*/
nav {

    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    max-height: 10vh;
}

a.top_bar,
.gh,
.inabprwo, .top_button {
    position: relative;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
}


/*
*******

GITHUB LOGO

*******
*/

.gh {
    padding-left: 20px;

}

/*
if i wanted to directly "edit" the gh logo
.fa-github{}
*/


.gh span {
    position: absolute;
    display: block;
    background: radial-gradient(#18c729, #fef500);
    transition: transform ease-in-out 0.2s;
    margin-bottom: 10px
}


.gh span:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition-delay: .2s;
}

.gh:hover span:nth-child(3) {
    transform: scaleX(1);
    transform-origin: left;
}

/*

*********
about, work, intro, projects...?

*********
*/

.inabprwo span {
    position: absolute;
    display: block;
    background: radial-gradient(#18c729, #fef500);
    transition: transform ease-in-out 0.2s;
    margin-bottom: 10px
}


.inabprwo span:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition-delay: .2s;
}

.inabprwo:hover span:nth-child(3) {
    transform: scaleX(1);
    transform-origin: left;
}

/*

*********
resume 

*********
*/

.top_bar span {
    position: absolute;
    display: block;
    background: radial-gradient(#18c729, #fef500);
    transition: transform ease-in-out 0.2s;
}

.top_bar span:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition-delay: 0s;
}

.top_bar:hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: left;
}

.top_bar span:nth-child(3) {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    transition-delay: .4s;
}

.top_bar:hover span:nth-child(3) {
    transform: scaleX(1);
    transform-origin: right;
}

.top_bar span:nth-child(2) {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition-delay: .3s;

}

.top_bar:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: top;
}

.top_bar span:nth-child(4) {
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition-delay: .6s;

}

.top_bar:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: bottom;
}