a{
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .04rem;
    display: inline-block;
    padding: .1rem .2rem .1rem .2rem;
    color: var(--primary-text);
    text-decoration: none;
    font-size: 1.4rem;
}

.resume_button:hover{
    background-color: var(--primary_red);
    border-radius: 12.5%;
}


