section.projects {

    background-color: blue;
    color:#efefef;
    text-transform: uppercase;

}


    
    
section.projects h3{
font-size: 40px;
padding-left:20px;


}

section.projects h4{
    font-size: 30px;
    padding-left:40px;

}

section.projects h5{
    font-size: 24px;
    padding-left:60px;

}