section.projects {

    background-color: blue;
    color:#efefef;
    text-transform: uppercase;

}


    
    
section.projects h3{
font-size: 4.0rem;
padding-left:20px;


}

section.projects h4{
    font-size: 3.0rem;
    padding-left:4.0rem;

}

section.projects h5{
    font-size: 2.4rem;
    padding-left:6.0rem;

}