
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a2031;
    color: #e6e6e8;
    font-size:22px;
    
   }
   
   a {
    text-decoration: none;
    color: #e6e6e8; /*font color*/
    font-family: 'Roboto', sans-serif;
    letter-spacing:3px

   }



  h1{
    font-size:5vw;
    font-family: 'Roboto',sans-serif;
    color:#e6e6e8;
    text-align:left;
    padding-left:2vh;
  }
  h1:after {
    content: "";
    display: block; 
    width: 33%; 
    border-bottom: 3px solid #f28d20; 
  }
   

  h2 {
    color:#e6e6e8;
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    
    }

  h2:after{
    content:"";
    display:block;
    width:20%;
    border-bottom: 3px solid #f28d20;
  }

h3{
  font-size: 18px;
  text-align:left;
  padding-left:2vh;
  
}

  h4 {
    color:#e6e6e8;
    font-family: 'Roboto',sans-serif;
    font-size: 30px;
    text-align: left;
    padding-left: 10px;
  
    }


h5{
  color:#e6e6e8;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  border-bottom: 3px solid #f28d20;

  }


.img-container{
  background-image: url("../images/bridgers.jpg");
  min-height:20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
}

.box{
  text-align:left;
  width:100%;
  background-color:#293148;
  padding-left: 2vh;
  font-family:'Roboto',sans-serif;
  padding-bottom: 2vh;
  padding-top:2vh;
  margin-top:2vh;

}


.header{
  text-align:center;
  width:100%;
  background-color: #1e2538;
  height:auto;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top:2vh;
}
.header2{
  text-align:center;
  width:100%;
  background-color: #1e2538;
  height:auto;
  padding-top: 80px;
  padding-bottom: 65px;
  margin-top:2vh;
}





   /* 
NAV BAR STUFF 
   */


   .nav-link{
    padding: 5px 14px;
    font-size: 25px;
    font-family:'Roboto', sans-serif;
   }


   .nav-link:hover { /* hover over and changes color */
    border-bottom: 3px solid #f28d20;
    border-radius: 5px;
    transition: 0.3s ease;
   }


  .nav-link.active{
    border-bottom: 3px solid #f28d20;
    border-radius: 5px;


  }


